html {
    font-family: 'Arial';
    text-align: center;
    display: grid;
}

div {
    display: grid;
    padding-top: 1em;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

input {
    max-width: 100%;
    box-shadow: 0px 1px 2px -1px;
    width: 250px;
    padding: 8px 16px;
    outline: 0;
    border-width: 0 0 2px;
    border-bottom: 1px;

}

.formula {
    animation: fadeEffect 1s;
    display: none;
}

button {
    width: 250px;
    background-color: #9fffca;
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    background-color: #72ff65;
}

.definition {
    font-style: italic;
}

.content {
    display: grid;
    max-width: 300px;
    justify-content: center;
    margin: auto;
}

.data_fields {
    max-width: 100%;
}

.red {
    color: red;
}

.blue {
    color: blue;
}


.answer {
    font-weight: bold;
}

#probAgivenB {
    outline: none;
}

.pointer {
    cursor: pointer;
    margin-top: 20px;
}

.auto {
    cursor: default;
}

.container {
    grid-row-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
}

.tab button {
    position: relative;
    background-color: skyblue;
    bottom: 15px;
    right: 15px;
    max-width: 200px;
}

.tab button:hover {
    background-color: rgb(82, 206, 255);
    box-shadow: 2px 2px 9px -1px;
}

.tab button:active {
    background-color: rgb(82, 206, 255);
    box-shadow: 2px 2px 9px -1px;
}

.source-link {
    margin: 22px;
    display: block;
    text-decoration: none;
    color: cyan;
}

.source-link :hover {
    color: blue;
}

#ncr_n::placeholder {
    color: blue;
}

#ncr_r::placeholder {
    color: red;
}

#npr_n::placeholder {
    color: blue;
}

#npr_r::placeholder {
    color: red;
}


@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/*Center placeholder text*/

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

/*If the browser is 600px or larger*/
@media only screen and (min-width: 600px) {
    .content {
        position: relative;
        bottom: 152px;
    }
}
